html,
body {
  margin: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: calc(1em + 0.5vw);
  font-size: clamp(1em, calc(0.5em + 1vw), 1.5em);
  --highlight: #ffdb2d;
  --notice: #ff6464;
  --secondary: #2ec4b6;
  --darkest: #00665c;
  --neutral: #727272;
  --light: #fafafa;
  --divider: rgba(60, 60, 67, 0.12);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
