.root {
  background: var(--darkest);
  color: #fff;
  padding: 2rem;
  position: relative;
  &::before {
    content: "";
    background: inherit;
    display: block;
    height: 32px;
    position: absolute;
    top: -31px;
    left: 0;
    right: 0;
    mask-image: url(../Section/wave.svg);
    mask-size: cover;
  }
  & a {
    display: inline-flex;
    align-items: center;
    gap: 0.5ch;
    text-decoration: none;
    color: inherit;
  }
}
