.root {
  padding-top: 3rem;
  padding-bottom: 4rem;
  position: relative;
  background: #fff;
  &:nth-of-type(2n) {
    color: #fff;
    background: linear-gradient(90deg, #8BCB86 0.41%, #A1CF81 0.42%, #7FCB90 14.03%, #3ABE9A 51.66%, #00A9B9 97.58%);
  }
  --space: 2rem;
  &::before {
    content: "";
    background: inherit;
    display: block;
    height: 32px;
    position: absolute;
    top: -31px;
    left: 0;
    right: 0;
    mask-image: url(./wave.svg);
    mask-size: cover;
  }
}
